$primary: #76a5af;
$secondary: #C76B6B;
$success: #7db37b;
$enable-negative-margins: true;

.vh-100 {
    height: 100vh;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
  